@font-face {
  font-family: regular;
  src: url(NotoSans-Regular.ttf);
}
@font-face {
  font-family: bregular;
  src: url(NotoSans-Bold.ttf);
}

* {
  font-family: regular;
  font-size: 15px;
  color: white;
  text-shadow: 0px 2px 0px black, 0px -2px 0px black, 2px 0px 0px black, -2px 0px 0px black, 2px 2px 3px black;
}

.greenbutton {
  padding-top: 5px;
  padding-bottom: 8px;
  background: #379634;
  color: #fff;
  cursor: pointer;
  text-align: center;
  transition: .1s;
  border-radius: 4px;
  box-shadow: 0px 5px 0px #105200;
  text-shadow: 0px 0px 4px #3f3f3f;
  user-select: none;
  margin-bottom: 10px;
  padding-right: 35px;
  padding-left: 35px;
}
.greenbutton:hover {
  filter: brightness(1.2);
  transform: translateY(2px);
  box-shadow: 0px 3px 0px #105200;
}
.greenbutton:active {
  box-shadow: 0px 1px 0px #105200;
  transform: translateY(4px);
}

.purplebutton {
  padding-top: 5px;
  padding-bottom: 8px;
  background: #4C2C72;
  color: #fff;
  cursor: pointer;
  text-align: center;
  transition: .1s;
  border-radius: 4px;
  box-shadow: 0px 5px 0px #341C4A;
  text-shadow: 0px 0px 4px #3f3f3f;
  user-select: none;
  margin-bottom: 10px;
  padding-right: 35px;
  padding-left: 35px;
}
.purplebutton:hover {
  filter: brightness(1.2);
  transform: translateY(2px);
  box-shadow: 0px 3px 0px #341C4A;
}
.purplebutton:active {
  box-shadow: 0px 1px 0px #341C4A;
  transform: translateY(4px);
}

.bluebutton {
  padding-top: 5px;
  padding-bottom: 8px;
  background: #256EFF;
  color: #fff;
  cursor: pointer;
  text-align: center;
  transition: .1s;
  border-radius: 4px;
  box-shadow: 0px 5px 0px #00308F;
  text-shadow: 0px 0px 4px #3f3f3f;
  user-select: none;
  margin-bottom: 10px;
  padding-right: 35px;
  padding-left: 35px;
}
.bluebutton:hover {
  filter: brightness(1.2);
  transform: translateY(2px);
  box-shadow: 0px 3px 0px #00308F;
}
.bluebutton:active {
  box-shadow: 0px 1px 0px #00308F;
  transform: translateY(4px);
}

.orangebutton {
  padding-top: 5px;
  padding-bottom: 8px;
  background: #F49852;
  color: #fff;
  cursor: pointer;
  text-align: center;
  transition: .1s;
  border-radius: 4px;
  box-shadow: 0px 5px 0px #F96900;
  text-shadow: 0px 0px 4px #3f3f3f;
  user-select: none;
  margin-bottom: 10px;
  padding-right: 35px;
  padding-left: 35px;
}
.orangebutton:hover {
  filter: brightness(1.2);
  transform: translateY(2px);
  box-shadow: 0px 3px 0px #F96900;
}
.orangebutton:active {
  box-shadow: 0px 1px 0px #F96900;
  transform: translateY(4px);
}

.yellowbutton {
  padding-top: 5px;
  padding-bottom: 8px;
  background: #E4CC37;
  color: #fff;
  cursor: pointer;
  text-align: center;
  transition: .1s;
  border-radius: 4px;
  box-shadow: 0px 5px 0px #6C5F0F;
  text-shadow: 0px 0px 4px #3f3f3f;
  user-select: none;
  margin-bottom: 10px;
  padding-right: 35px;
  padding-left: 35px;
}
.yellowbutton:hover {
  filter: brightness(1.2);
  transform: translateY(2px);
  box-shadow: 0px 3px 0px #6C5F0F;
}
.yellowbutton:active {
  box-shadow: 0px 1px 0px #6C5F0F;
  transform: translateY(4px);
}

.fuchsiabutton {
  padding-top: 5px;
  padding-bottom: 8px;
  background: #de16da;
  color: #fff;
  cursor: pointer;
  text-align: center;
  transition: .1s;
  border-radius: 4px;
  box-shadow: 0px 5px 0px #400b3f;
  text-shadow: 0px 0px 4px #3f3f3f;
  user-select: none;
  margin-bottom: 10px;
  padding-right: 35px;
  padding-left: 35px;
}
.fuchsiabutton:hover {
  filter: brightness(1.2);
  transform: translateY(2px);
  box-shadow: 0px 3px 0px #400b3f;
}
.fuchsiabutton:active {
  box-shadow: 0px 1px 0px #400b3f;
  transform: translateY(4px);
}

.redbutton {
  padding-top: 5px;
  padding-bottom: 8px;
  background: #941821;
  color: #fff;
  cursor: pointer;
  text-align: center;
  transition: .1s;
  border-radius: 4px;
  box-shadow: 0px 5px 0px #4a0a0f;
  text-shadow: 0px 0px 4px #3f3f3f;
  user-select: none;
  margin-bottom: 10px;
  padding-right: 35px;
  padding-left: 35px;
}
.redbutton:hover {
  filter: brightness(1.2);
  transform: translateY(2px);
  box-shadow: 0px 3px 0px #4a0a0f;
}
.redbutton:active {
  box-shadow: 0px 1px 0px #4a0a0f;
  transform: translateY(4px);
}

.graybutton {
  padding-top: 5px;
  padding-bottom: 8px;
  background: #4d4d4d;
  color: #fff;
  cursor: pointer;
  text-align: center;
  transition: .1s;
  border-radius: 4px;
  box-shadow: 0px 5px 0px #363636;
  text-shadow: 0px 0px 4px #3f3f3f;
  user-select: none;
  margin-bottom: 10px;
  padding-right: 35px;
  padding-left: 35px;
}
.graybutton:hover {
  filter: brightness(1.2);
  transform: translateY(2px);
  box-shadow: 0px 3px 0px #363636;
}
.graybutton:active {
  box-shadow: 0px 1px 0px #363636;
  transform: translateY(4px);
}

.nextbutton {
  padding-top: 5px;
  padding-bottom: 8px;
  background: #4d4d4d;
  color: #fff;
  cursor: pointer;
  text-align: center;
  transition: .1s;
  border-radius: 4px;
  box-shadow: 0px 5px 0px #363636;
  text-shadow: 0px 0px 4px #3f3f3f;
  user-select: none;
  margin-bottom: 10px;
  padding-right: 35px;
  padding-left: 35px;
  transform: rotate(-9deg);
}
.nextbutton:hover {
  filter: brightness(1.2);
  transform: translateY(2px) rotate(-9deg);
  box-shadow: 0px 3px 0px #363636;
}
.nextbutton:active {
  box-shadow: 0px 1px 0px #363636;
  transform: translateY(4px) rotate(-9deg);
}


@keyframes wavy {
  0%, 100% {
    transform: translateY(4px);
  }
  50% {
    transform: translateY(-4px);
  }
}
@keyframes shaky {
  0%, 100% {
    transform: translateX(1px);
  }
  50% {
    transform: translatex(-1px);
  }
}

.chapterselectcontainer {
  display: inline-block;
  height: 340px;
  width: 220px;
  background: rgba(0,0,0,0.4);
  border-radius: 15px;
  font-size: 25px;
  transition: 0.5s;
  text-align: center;
  margin: 25px;
  position: relative;
  float: left;
}

.chapterselectcontainer:hover {
  filter: brightness(1.5);
  cursor: pointer;
  height: 360px;
  width: 240px;
  margin: 15px;
}
.chapterselectheader {
  text-align: center;
  font-size: 20px;
  height: 8%;
  padding-top: 2%;
}
.chapterselectcontent {
  text-align: center;
  font-size: 15px;
  width: 80%;
  margin-left: 10%;
  padding-right: 5%;
  margin-right: 5%;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 85%;
  margin-top: 5%;
  user-select: none;
}
.storyheader {
  font-size: 25px;
  color: white;
  font-weight: bold;
  padding-left: 50px;
}

::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-track {
  background: #000;
}
::-webkit-scrollbar-thumb {
  background: #1C1F33;
}
::-webkit-scrollbar-thumb:hover {
  background: #1d2246;
}

.lockedchaptercontainer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  background: rgba(0,0,0,0.5);
  color: red;
  font-size: 30px;
}
.centerme {
  margin: auto;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: inherit;
  font-size: inherit;
}

.achievementcontainer {
  height: 75px;
  width: 75px;
  padding: 10px;
  display: inline-block;
  background: rgba(0,0,0,0.4);
  border-radius: 14px;
  filter: saturate(0.5);
  transition: 0.5s;
  margin: 10px;
  position: relative;
}
.achievementcontainer:hover {
  cursor: pointer;
  filter: saturate(1.2);
}
.achievementunlockeddiv {
  height: 20px;
  width: 20px;
  top: 5px;
  right: 5px;
  display: inline-block;
  position: absolute;
}

.endingcontainer {
  padding: 10px;
  background: rgba(0,0,0,0.4);
  font-size: 18px;
  display: inline-block;
  border-radius: 10px;
  margin: 10px;
  transition: 0.5s;
}
.endingcontainer:hover {
  cursor: pointer;
  border-radius: 2px;
}

.gameplaystatcontainer {
  width: 100%;
  border-bottom: 1px solid white;
  display: inline-block;
}
.gameplaystatheader {
  height: 50%;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
}
.gameplaystatvalue {
  height: 50%;
  text-align: center;
  font-size: 22px;
  color: #d19406;
  cursor: pointer;
}

.terminalentry {
  height: 170px;
  width: 98%;
  margin: 1%;
  background: black;
  border-radius: 25px;
}

.inventoryslot {
  display: inline-block;
  height: 64px;
  width: 64px;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  background-color: rgba(255,255,255,0.1);
  image-rendering: pixelated;
  cursor: pointer;
}
.statusslot {
  display: inline-block;
  height: 48px;
  width: 48px;
  margin: 5px;
  padding: 5px;
  border-radius: 50%;
  background-color: rgba(255,255,255,0.1);
  image-rendering: pixelated;
  cursor: pointer;
}

.statcontainer {
  cursor: pointer;
  width: 82px;
  display: inline-block;
  position: relative;
}
.statvalue {
  font-size: 50px;
  padding: 10px;
  text-align: center;
  color: #d19406;
}
.statname {
  position: absolute;
  top: 15px;
  left: 15px;
  transform: rotate(-12deg);
}
.staticon {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 20px;
  width: 20px;
}
